# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test
.DS_Store

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*
content/.Archive/
content/post/.Archive/
content/post/.md_configs.data
content/post/.me_configs.data
content/post/_book/
content/.md_configs.data
content/.me_configs.data

_testmain.go

*.exe
*.test
*.prof

public/
